<html>
  <head>
    <title>Ticket Queue</title>
    <link rel="stylesheet" href="/media/bs/slate/bootstrap.css" media="screen">
    {% if reservation.is_ready %}
    <!--
    <style>
    body {
      background-color: green;
      color: white;
    }
    a {
      color: black;
    }
    -->
    </style>
    {% endif %}
    <script language="javascript">
    function countdown() {
      var cd = document.getElementById('countdown');
      var count = parseInt(cd.innerHTML);
      count -= 1;
      if (count > 0) {
        cd.innerHTML = count;
        setTimeout("countdown();", 1000);
      }
    }
    </script>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">Ticket Queue</a>
        </div>
        <div id="navbar-main" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" onclick="cornify_add();return false;"><img src="http://www.cornify.com/assets/cornifybig.gif" alt="Cornify" border="0" height="25" width="82"></a>
                <script type="text/javascript" src="http://www.cornify.com/js/cornify.js"></script>
            </li>
          </ul>
        </div>
      </div>
    </div>

    {% if tier %}
      <div class="container">
        <div class="page-header" id="banner">
          <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
              <h1>Sorry, sold out</h1>
              <p class="lead">Ticket sales have ended</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="page-header" id="banner">
          <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
              <h1>Queue is closing down</h1>
              <p class="lead">There may be tickets in the next 15 minutes from  expired unpaid orders, so it couldn't hurt to check back at <a href="http://184.72.226.185/buy/4/">The Ticket Sales Site</a> and give it a try.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        {% if reservation %}
          <div class="page-header" id="banner">
            <div class="row">
              <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Playa del Fuego Ticket Queue</h1>
                <p class="lead">The queue is onine</p>
              </div>
            </div>
          </div>
          {% if is_started %}
            <div class="row">
              <div class="col-lg-12">
                <p>You are number <strong>{{ ahead }}</strong> of <strong>{{ in_queue }}</strong></p>
              </div>
            </div>
          {% else %}{# is_started #}
            <div class="row">
              <div class="col-lg-12">
                <p>Queue position pending ... {{ wait_message }}</p>
              </div>
            </div>
          {% endif %}{# is_started #}
          {% if reservation.is_ready %}
            <div class="row">
              <div class="col-lg-12">
                <h2>The ticket system will see you now</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <a href="{{ return_url }}/?code={{ reservation.code }}">Click here to proceed</a>
              </div>
            </div>
          {% else %}{# reservation.is_ready #}
            <div class="row">
              <h2>Please wait</h2>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <p>This page will automatically refresh in <span id="countdown">30</span> seconds if javascript is enabled.
                <br/>You will not lose your place in line, so there is no need to hammer on the F5 key like a jerk.</p>
              </div>
            </div>
            <script language="javascript">
            setTimeout("window.location = '/q/?code={{ reservation.code }}'", 30000);
            setTimeout("countdown();", 1000);
            </script>
          {% endif %}{# reservation.is_ready #}
        {% else %}{# reservation #}
          <div class="row">
            <div class="col-lg-12">
              <p>The ticket queue will open in {{ starts|timeuntil }}</p>
              <p>Hold your ponies, it's coming</p>
              <script language="javascript">
              setTimeout("window.location = window.location", 60000);
              </script>
            </div>
          </div>
        {% endif %}{# reservation #}
        {% if pony %}
          <div class="row">
            <div class="col-lg-12">
              <div class="bs-component">
                <div class="jumbotron">
                  <pre>
                    {{ pony|safe }}
                  </pre>
                </div>
              </div>
            </div>
          </div>
        {% else %}{# pony #}
          <div class="row">
            <div class="col-lg-12">
              <h2>Seriously, dude.  What did I tell you about hammering F5?  STOP IT!</h2>
            </div>
          </div>
        {% endif %}{# pony #}
      </div>
    {% else %}{# tier #}
      <div class="container">
        <div class="page-header" id="banner">
          <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
              <h1>There are no active tiers</h1>
              <p class="lead">The queue is currently inactive</p>
            </div>
          </div>
        </div>
      </div>
    {% endif %}{# tier #}
  </body>
</html>
