{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block title %}Admin{% endblock %}
{% block banner %}Admin Dashboard{% endblock %}
{% block lead %}
{% for event in user.event_set.all %}
{{ event.label }}
<a href="/a/event/{{ event.id }}/" class="btn btn-default">
  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
</a>
{% endfor %}
{% endblock %}
{% block alerts %}
<h3>Active Occurrences</h3>
{% for occurrence in occurrences_active %}
<div class="panel panel-info">
  <div class="panel-heading">{{ occurrence }}</div>
  <div class="panel-body">
    <div class="btn-group btn-group-justified">
      <a href="/occurrences/{{ occurrence.id }}/admin/ticket_list/" class="btn btn-default">Ticket Listing</a>
      <a href="/a/occurrence/{{ occurrence.id }}/purchases/" class="btn btn-default">Purchases</a>
      <a href="/a/occurrence/{{ occurrence.id }}/stats/" class="btn btn-default">Stats</a>
      <a href="/occurrences/{{ occurrence.id }}/admin/option_list/" class="btn btn-default">Options List</a>
      <a href="/occurrences/{{ occurrence.id }}/admin/sale/" class="btn btn-default">Cash Sale</a></li>
      <a href="/a/occurrence/{{ occurrence.id }}/reservations/" class="btn btn-default">Reservations</a></li>
      <a href="/occurrences/{{ occurrence.id }}/admin/ticket_export/" class="btn btn-default">XML Export</a>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
{% block content %}
{% if occurrences_old %}
<h3>Old Occurrences</h3>
{% for occurrence in occurrences_old %}
<div class="panel panel-default">
  <div class="panel-heading">{{ occurrence }}</div>
  <div class="panel-body">
    <div class="btn-group btn-group-justified">
      <a href="/occurrences/{{ occurrence.id }}/admin/ticket_list/" class="btn btn-default">Ticket Listing</a>
      <a href="/a/occurrence/{{ occurrence.id }}/stats/" class="btn btn-default">Stats</a>
      <a href="/occurrences/{{ occurrence.id }}/admin/option_list/" class="btn btn-default">Options List</a>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}
