{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
function validate(form_id, email) {
   var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
   var address = document.forms[form_id].elements[email].value;
   if(reg.test(address) == false) {
      alert('Invalid Email Address');
      return false;
   } else {
      return true;
   }
}

$(document).ready(function() {
	$("#login_tabs").tabs();
});
</script>
{% if message %}
<script type="text/javascript">
$(function() {
        $("#dialog").dialog("destroy");
        $("#dialog-error").dialog({
                modal: true,
                buttons: {
                        Ok: function() {
                                $(this).dialog('close');
                        }
                }
        });
});
</script>

<div id="dialog-error" title="Login Message">
        <p>
                {{ message }}
        </p>
</div>
{% endif %}
{% if form.subject.errors %}
    <ol>
    {% for error in form.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
{% endif %}

<div id="login_container" style="height: 350px;">
<div id="login_tabs">
<ul>
	<li><a href="#login_tabs_login">Login</a></li>
	<li><a href="#login_tabs_new">Register New User</a></li>
	<li><a href="#login_tabs_forgot">Forgot Password</a></li>
</ul>
<div id="login_tabs_login">
<form method="post" name="form_login" id="form_login" action="/login/">
<p>Please enter your email address password and click "Login."</p>
<input type="hidden" name="login_is_new" id="login_is_new" value="0" />
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<div class="rc_btn_01_l"><a href="#" onclick="document.form_login.submit();">Login</a></div>
<br/><br/><br/>
</form>
</div>
<div id="login_tabs_new">
<form method="post" name="new_account" id="new_account" action="/login/">
<p>To create a new account, enter your email address and choose a password below, then click "New Account."</p>
<input type="hidden" name="login_is_new" id="login_is_new" value="1" />
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>
<em>Warning: this site is not SSL protected so password will be transmitted in plain text.  Don't do anything stupid like using the same password as your online banking.</em>

<div class="rc_btn_01_l"><a href="#" onclick="if (validate('new_account', 'id_username')) { document.new_account.submit(); }">New Account</a></div>
<br/><br/><br/>
</form>
</div>
<div id="login_tabs_forgot">
<form method="post" name="forgot" id="forgot" action="/login/">
<p>Please enter your email address and then click "Reset" to have your password reset and sent to you.  You will then be able to change it once you've logged in.</p>
<input type="hidden" name="login_is_new" id="login_is_new" value="2" />
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
</table>
<div class="rc_btn_01_l"><a href="#" onclick="document.forgot.submit();">Reset</a></div>
<br/><br/><br/>
</form>
</div>
</div>
</div>

{% endblock %}
