{% load texas_extras %}
<html>
  <head>
    <title>{% block title %}{% endblock %} | {{ current_site.name }}</title>
    <meta name="keywords" content="Burning Man, Playa del Fuego, Tickets, Barcode, Event, Ticketing" />
    <meta name="description" content="Black Rock Tickets, a free and open source event ticketing solution" />
    <link rel="stylesheet" href="/media/bs/darkly/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/media/bs/bootswatch.min.css" media="screen">
    <link type="text/css" href="/media/css/ui-darkness/jquery-ui-1.8.4.custom.css" rel="Stylesheet" />	
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{ current_site.name }}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          {% block main_menu %}
          <ul class="nav navbar-nav">
            <li><a href="/" class="active"><span></span>Home</a></li>
            <li><a href="/buy/"><span></span>Buy Tickets</a></li>
            <li><a href="/schedules/"><span></span>Volunteer Schedules</a></li>
            <li><a href="/about/"><span></span>About</a></li>
            <li><a href="/contact/"><span></span>Contact</a></li>
          </ul>   
          {% endblock %}
          {% if request.user.is_authenticated %}
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user.username }} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/tickets/">My Tickets</a></li>
                <li><a href="/buy/purchases/">Current Purchases</a></li>
                <li><a href="/password_change/">Change Password</a></li>
                <li class="divider"></li>
                {% for event in request.user.event_set.all %}
                <li><a href="/events/{{ event.id }}/admin/">{{ event }} Admin</a></li>
                {% endfor %}
                {% for sign_up in request.user.signup_set.all %}
                <li><a href="/schedules/sign_up/{{ sign_up.id }}/admin/">{{ sign_up.occurrence.label }} Admin</a></li>
                {% endfor %}
                {% for schedule in request.user.schedule_set.all %}
                <li><a href="/schedules/{{ schedule.id }}/{{latest_signups.id}}/">{{ schedule.label }} Admin</a></li>
                {% endfor %}
                <li class="divider"></li>
                <li><a href="/logout/">Logout</a></li>
              </ul>
            </li>
          </ul>
          {% else %}
          <form class="navbar-form navbar-left" action="/login/" method="post" role="login">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Email Address" name="username">
              <input type="password" class="form-control" placeholder="Password" name="password">
            </div>
            <button type="submit" class="btn btn-default">Login</button>
          </form>
          {% endif %}
        </div><!-- /.navbar-collapse -->
      </div>
    </div>
    <div class="container">
      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-9">
            <h1>{% block banner %}{% endblock %}</h1>
            <p class="lead">
              {% block lead %}{% endblock %}
            </p>
            {% block purchases %}
            {% list_purchases %}
            {% endblock %}
            {% block alerts %}
            {% endblock %}
          </div>
          <div class="col-lg-3">
            {% if request.user.is_authenticated %}
            <div class="panel panel-default">
              <div class="panel-heading">Control Panel</div>
                <div class="panel-body">
                {% block left_bar %}
                <ul class="nav nav-pills nav-stacked">
                  <li>
                    <a href="/tickets/">
                      My Tickets
                      {% get_ticket_count request.user %}
                    </a>
                  </li>
                  <li>
                    <a href="/buy/purchases/">
                      Current Purchases
                      {% get_order_count request.user %}
                    </a>
                  </li>
                  <li><a href="/password_change/">Change Password</a></li>
                  <li><a href="/logout/">Logout</a></li>
                  {% if request.user.event_set.count > 0 or request.user.signup_set.count > 0 or request.user.schedule_set.count > 0 %}
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      Admin <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      {% for event in request.user.event_set.all %}
                      <li><a href="/events/{{ event.id }}/admin/">{{ event }}</a></li>
                      {% endfor %}
                      {% for sign_up in request.user.signup_set.all %}
                      <li><a href="/schedules/sign_up/{{ sign_up.id }}/admin/">{{ sign_up.occurrence.label }}</a></li>
                      {% endfor %}
                      {% for schedule in request.user.schedule_set.all %}
                      <li><a href="/schedules/{{ schedule.id }}/{{latest_signups.id}}/">{{ schedule.label }}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                  {% endif %}
                </ul>
                {% endblock %}
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% block content %}
      {% endblock %}
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-unstyled">
              <li class="pull-right">Copyright © 2009-2014 <a href="http://atzok.com/">Ben Sarsgard</a></li>
              <li><a href="/" class="current">Home</a></li>
              <li><a href="/buy/">Buy Tickets</a></li>
              <li><a href="/about/">About Us</a></li>
              <li><a href="/contact/">Contact Us</a></li>
              <li><a href="https://github.com/bsarsgard/blackrocktickets">GitHub</a></li>
            </ul> 
          </div>
        </div>
      </footer>
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <!--<script type="text/javascript" src="/media/js/jquery-ui-1.8.4.custom.min.js"></script>-->
    <script type="text/javascript" src="/media/jquery-ui-1.11.0/jquery-ui.min.js"></script>
    <script src="/media/bs/bootstrap.min.js"></script>
    {% block script %}
    {% endblock %}
  </body>
</html>
