{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block title %}About Us{% endblock %}
{% block banner %}About Black Rock Tickets{% endblock %}
{% block lead %}<a href="https://github.com/bsarsgard/blackrocktickets">View this project on GitHub</a>{% endblock %}
{% block alerts %}
<div class="row">
  <div class="col-lg-12">
    <p>Black Rock Tickets began as a ticket system for the <a href="http://playadelfuego.org/">Playa del Fuego</a> regional <a href="http://www.burningman.com/">Burning Man</a> event.  After many attempts to use third-party ticket vendors, we decided none of their systems were as useful as the simple home-brew system we had created.  Since it's served us so well, we've decided to open up the system for other events to use, as well.</p>
    <p>While the main purpose of BRT is to make a ticket system available to other regional Burning Man events, we're happy to share it with anyone and everyone who only needs a simple elecronic ticket sales system, without the cost or hassle of the big ticket vendors.</p>
    <p>If you'd like us to host ticket sales for your event, or have a question about buying tickets here, please <a href="/contact/">let us know</a>.</p>
    <p>Black Rock Tickets is not affiliated with the Burning Man organization or Black Rock City, LLC.</p>
  </div>
</div>
{% endblock %}
