{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block title %}Buy Tickets{% endblock %}
{% block banner %}Buy Tickets{% endblock %}
{% block lead %}
{% if occurrences %}
{% ifequal occurrences.count 1 %}
{% for occurrence in occurrences %}
{{ occurrence }}
{% endfor %}
{% else %}
{% ifequal occurrences.count 0 %}
No Sales Available
{% else %}
Found {{ occurrences.count }} Events
{% endifequal %}
{% endifequal %}
{% else %}
No Events Found
{% endif %}
{% endblock %}

{% block purchases %}{% endblock %}

{% block alerts %}
{% if error %}
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>Error: </strong>{{ error }}
</div>
{% endif %}
{% endblock %}

{% block content %}
<form id="buy_tickets" name="buy_tickets" method="post">
          <input type="hidden" name="code" id="code" value="{{ code|default_if_none:"" }}" />
{% for occurrence in occurrences %}
<div class="row">
  <div class="col-lg-6">
    {% ifnotequal occurrences.count 1 %}
    <h2>{{ occurrence }}</h2>
    {% endifnotequal %}{# occurrences.count 1 #}
    {% for tier in occurrence.get_active_tiers %}
    {% if show == 'show' or tier.password == "" and not tier.require_code %}
    <div class="panel panel-primary">
      <div class="panel-heading">{{ tier.label }}</div>
      <div class="panel-body">
        <!--form id="buy_tickets{{ tier.id }}" name="buy_tickets{{ tier.id }}" method="post"-->
          <input type="hidden" id="occurrence_id" name="occurrence_id" value="{{ occurrence.id }}" />
          <p>
            {{ tier.description|safe }}
          </p>
          {% if tier.use_queue and not code %}
          {% if not tier.require_code %}
          <p>This tier uses a queuing system.</p>
          <p><a href="{{ queue_url }}">Click here to enter the queue.</a></p>
          {% endif %}
          {% else %}{% if tier.is_lottery and not code %}
          {% if not tier.require_code %}
          <p>This tier uses a lottery.</p>
          {% if user.is_anonymous %}
          <p><a href="/login/?next=/chance/{{ tier.id }}/">Login or create an account to continue.</a></p>
          {% else %}
          <p><a href="/chance/{{ tier.id }}/">Click here to enter the lottery.</a></p>
          {% endif %}
          {% endif %}
          {% else %}{# tier.use_queue and not code #}
          {% ifnotequal tier.get_tickets_available 0 %}
          {% if occurrence.allow_donations %}
          <div class="form-group">
            <label>Optional donation</label>
            <input type="text" id="donation_{{ tier.id }}" name="donation_{{ tier.id }}" class="form-control" />
          </div>
          {% endif %}{# occurrence.allow_donations #}
          <div class="form-group">
            <label>Tickets</label>
            <select id="tickets_{{ tier.id }}" name="tickets_{{ tier.id }}" class="form-control">
              {% for ticket_quantity in tier.get_ticket_range %}
              <option value="{{ ticket_quantity }}">{{ ticket_quantity }}</option>
              {% endfor %}{# ticket_quantity in tier.get_ticket_range #}
            </select>
          </div>
          <div class="form-group">
            <strong>
              Price
              <span class="badge">
                ${{ tier.price }}
                {% if occurrence.event.paypal_currency %}
                ({{ occurrence.event.paypal_currency }})
                {% endif %}{# occurrence.event.paypal_currency #}
              </span>
            </strong>
          </div>
          {% ifnotequal tier.password "" %}
          <div class="form-group">
            <p><em>This tier is password protected to restrict sales.</em></p>
            <label>Password</label>
            <input type="text" id="password_{{ tier.id }}" name="password_{{ tier.id }}" class="form-control" />
          </div>
          {% endifnotequal %}{# tier.password "" #}
          {% if occurrence.options %}
          {% for option in occurrence.options.all %}
          <div class="form-group">
            <input type="checkbox" name="option_{{ option.id }}" id="option_{{ option.id }}" value="1"/>
            <label for="option_{{ option.id }}">
              {{ option.label }}
              {% if option.price %}
              - ${{ option.price }}
              {% endif %}
            </label>
            {% if option.description %}
            <p style="margin-left: 25px;">
              <em>{{ option.description }}</em>
            </p>
            {% endif %}{# option.description #}
          </div>
          {% endfor %}{# option in occurrence.options.all #}
          {% endif %}{# occurrence.options #}
          <!--div class="form-group">
            <a href="#" onclick="document.buy_tickets{{ tier.id }}.submit();" class="btn btn-primary btn-large">Buy Now</a>
          </div-->
          {% else %}{# tier.get_tickets_available 0 #}
          <strong>This tier is currently Sold Out.</strong>
          {% endifnotequal %}{# tier.get_tickets_available 0 #}
          {% endif %}{# tier.is_lottery and not code #}
          {% endif %}{# tier.use_queue and not code #}
        <!--/form-->
      </div>
    </div>
    {% endif %}{# tier.password == "" or show == 'show' #}
    {% empty %}{# tier occurrence.get_active_tiers #}
    <div class="alert alert-info">Ticket sales for this event are not currently active.</div>
    {% endfor %}{# tier occurrence.get_active_tiers #}
    {% if occurrence.get_future_tiers %}
    <p class="lead">Please check back later for the following ticket sales:</p>
    <div class="list-group">
    {% for tier in occurrence.get_future_tiers %}
      <div class="list-group-item">
        <h4 class="list-group-item-heading">{{ tier.label }}</h4>
        <p class="list-group-item-text">{{ tier.start_date|date:"D, d M Y, P" }} ({{ tier.start_date|timeuntil }})<br/>&nbsp;&nbsp;&nbsp;&nbsp;{{ tier.cap|default_if_none:"Unlimited" }} tickets - ${{ tier.price }}</p>
      </div>
    {% endfor %}{# tier in occurrence.get_future_tiers #}
    </div>
  </div>
  <div class="col-lg-6">
    <div class="well text-center">
      {{ occurrence.event.header|safe }}
    </div>
  </div>
</div>
{% endif %}{# occurrence.get_future_tiers #}
<div class="row">
  <div class="col-lg-6">
          {% if occurrence.coupons.all %}
          <div class="form-group">
            <label>Coupon Code</label>
            <input type="text" id="coupon" name="coupon" class="form-control" />
          </div>
          {% endif %}{# occurrence.coupons.all #}
  </div>
</div>
{% endfor %}{# occurrence #}
<div class="row">
  <div class="col-lg-6">
          <div class="form-group">
            <a href="#" onclick="document.buy_tickets.submit();" class="btn btn-primary btn-large">Buy Now</a>
          </div>
  </div>
</div>
</form>
{% endblock %}{# content #}
