{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block title %}About Us{% endblock %}
{% block main_menu %}
<ul>
    <li><a href="/"><span></span>Home</a></li>
    <li><a href="/buy/"><span></span>Buy Tickets</a></li>
    <li><a href="/about/" class="current"><span></span>About Us</a></li>
    <li><a href="/contact/"><span></span>Contact Us</a></li>
</ul>   
{% endblock %}
{% block content %}
<div class="header_01">Comp Tickets</div>
<p>Comp tickets (free tickets) are available to DJs and sexy ladies.  <a href="#" onclick="alert('Just kidding you fucking moron')">Click here to get one!</a></p>
{% endblock %}
