{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block title %}Contact Us{% endblock %}
{% block banner %}Contact Black Rock Tickets{% endblock %}
{% block alerts %}
<p>Black Rock Tickets is a service provider for multiple event ticket sales.  If you need help or more information, we request that you please contact the event coordinators first:</p>
<div class="list-group">
{% for event in events %}
  <a href="mailto:{{ event.admin_email }}" class="list-group-item">
    <h4 class="list-group-item-heading">{{ event.label }}</h4>
    <p class="list-group-item-text">{{ event.admin_email }}</p>
  </a>
{% endfor %}
</div>
<p>If you would like to report a bug, have questions about Black Rock Tickets itself, or would like to inquire about using our software for your event, please contact <a href="mailto:tickets@blackrocktickets.com">tickets@blackrocktickets.com</a></p>
{% endblock %}
