{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block title %}Index{% endblock %}
{% block content %}
{% for event in events %}
{% if event.id != 3 %}
{{ event.header|safe }}
<div class="header_01">{{ event.label }}</div>
<p>{{ event.description|safe }}</p>
{% for occurrence in event.get_active_occurrences %}
<p>{{ occurrence.description|safe }}</p>
<p>Please email <a href="mailto:{{ event.admin_email }}">{{ event.admin_email }}</a> for more information.</a>
{% if occurrence.cap %}
<!--<p>Event ticket cap: {{ occurrence.cap }}</p>-->
{% endif %}
<ul class="category_list">
	{% for tier in occurrence.get_past_tiers %}
	{% ifequal tier.password "" %}
	<li style="color: black;">{{ tier.label }}: {{ tier.start_date|date:"D d M Y" }} - {{ tier.end_date|date:"d M" }}
	{% ifequal tier.get_tickets_available 0 %}
	<strong> *Sold Out*</strong>
	{% else %}
	<strong> *Ended*</strong>
	{% endifequal %}
	</li>
	{% endifequal %}
	{% endfor %}

	{% for tier in occurrence.get_active_tiers %}
	{% ifequal tier.password "" %}
	<li style="font-weight: bold; color: lime;">{{ tier.label }}: {{ tier.start_date|date:"D d M Y" }} - {{ tier.end_date|date:"d M" }}
	{% ifequal tier.get_tickets_available 0 %}
	<strong> *Sold Out*</strong>
	{% else %}
	{% if tier.use_queue %}
	<strong> *Queue Open Now*</strong>
	{% else %}
	<strong> *Open Now*</strong>
	{% endif %}
	{% endifequal %}
	</li>
	{% endifequal %}
	{% endfor %}

	{% for tier in occurrence.get_future_tiers %}
	{% ifequal tier.password "" %}
	<li><strong>{{ tier.label }}</strong>: {{ tier.start_date|date:"D, d M Y, P" }} ({{ tier.start_date|timeuntil }})<br/>&nbsp;&nbsp;&nbsp;&nbsp;{{ tier.cap|default_if_none:"Unlimited" }} tickets - ${{ tier.price }}
	</li>
	{% endifequal %}
	{% endfor %}
</ul>
{% if occurrence.get_active_tiers %}
<div class="rc_btn_01"><a href="/buy/{{ occurrence.id }}/">Buy Tickets</a></div>
{% endif %}
<p>&nbsp;</p>
<p>&nbsp;</p>
<hr/>
<div class="cleaner"></div>        
{% endfor %}
{% endif %}
{% endfor %}
{% endblock %}
