{% extends "base.html" %}
{% load texas_extras %}
{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="/a/">Admin</a></li>
  <li>{{ occurrence }}</li>
  <li class="active">Cash Sale</li>
</ol>
{% endblock %}
{% block head %}
{% endblock %}
{% block title %}{{ occurrence }} Cash Sale{% endblock %}
{% block banner %}Cash Sale{% endblock %}
{% block alerts %}
{% if form.subject.errors %}
    <ol>
    {% for error in form.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
{% endif %}
<h1>{{ message }}</h1>

<div class="row well well-lg">
<form method="post" name="sale_form" id="sale_form" class="form-horizontal">
  <fieldset>
    <legend>Sale Details</legend>
    <div class="form-group">
      <label for="tier_id">Tier:</label>
      <select name="tier_id" id="tier_id" class="form-control">
      {% for tier in occurrence.tier_set.all %}
      <option value="{{ tier.id }}">{{ tier.label }}</option>
      {% endfor %}
      </select>
    </div>
    <div class="form-group">
      {{ form.name.label_tag }}
      {{ form.name|addcss:'form-control' }}
    </div>
    <div class="form-group">
      {{ form.email.label_tag }}
      {{ form.email|addcss:'form-control' }}
    </div>
    <div class="form-group">
      {{ form.tickets.label_tag }}
      {{ form.tickets|addcss:'form-control' }}
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary pull-right">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
</div>
{% endblock %}
