{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block title %}Process Payment{% endblock %}
{% block banner %}Complete Your Purchase{% endblock %}
{% block lead %}Just one more step, we're almost done!{% endblock %}
{% block purchases %}{% endblock %}
{% block alerts %}
<form action="/buy/paypal_process/{{ purchase.id }}/" method="post">
<div class="panel panel-info">
  <div class="panel-heading">Review Payment Details</div>
  <div class="panel-body">
<p><em>Your purchase is <strong>NOT</strong> yet complete!</em></p>
<p>Purchaser name: {{ first_name }} {{ last_name }}</p>
<div class="header_02">Tickets:</div>
<ul>
	{% for ticket in purchase.ticket_set.all %}
	<li>{{ ticket.tier }}: ${{ ticket.tier.price }}</li>
	{% endfor %}
</ul>
<p><strong>Total Price: ${{ purchase.get_price }}
{% if purchase.occurrence.event.paypal_currency %}
({{ purchase.occurrence.event.paypal_currency }})
{% endif %}
</strong></p>
<!--<p><input type="checkbox" name="agree" id="agree" value="1" /><label for="agree">I agree to the Black Rock Tickets <a href="/terms/" target="_new">terms and conditions</a>.</label>
-->

{% if purchase.occurrence.event.waiver %}
<hr>
{% include purchase.occurrence.event.waiver %}
<hr>
{% else %}
<script type="text/javascript">
function check_form() { return true; }
</script>
{% endif %}

<p><em>Click "Process" to complete your order and charge your PayPal account.  Please be patient if there is a delay, and do not click  the button multiple times.</em></p>
<button type="submit" class="btn btn-primary" onclick="return check_form()">Process</a>
  </div>
</div>
</form>
{% endblock %}
