<div>&nbsp;</div>
<div style="margin: auto; width: 640px; padding-left: 10px; padding-right: 10px; font-size: 50%; border: thin dotted black;">
<p style="font-weight: bold; text-align: center;">
NEW TICKETING HOURS!! NO NEW ENTRIES DURING CLOSED HOURS!!! Details on the PONY at the pdf site.<br/>
Thursday 5pm - Friday 2:00am (CLOSED 2:00am - 9am)<br/>
Friday 9am - Saturday 2:00am (CLOSED 2:00am-9am)<br/>
Saturday 9am - 8PM (Closed 8pm for the remainder of the burn)<br/>
Sunday - CLOSED
</p>
<p>I AGREE TO THE FOLLOWING TERMS
<ul>
<li>I am solely responsible for my own survival and well being, including an adequate supply of food as well as my own shelter.</li>
<li>I understand the nature of the event and all its risks and hazards.  I attend solely at my own risk and no guarantees, expressed or implied, about my safety have been made.</li>
<li>Photographs of any participant cannot be used for commercial purposes without the express permission of subjects and Playa del Fuego, Inc.</li>
<li>I agree to waive any claim or action I may have against:
<ol>
<li>The owners of the land upon which the event is held, the Vietnam Veterans Motorcycle Club of Delaware.</li>
<li>The Organizers of the event or Volunteers at the event.</li>
<li>It's sponsoring corporation, Playa del Fuego, Inc.</li>
<li>Burning Man, LLC</li>
<li>Any other participants for any action taken during the event.</li>
</ol>
</li>
<li>Please note that all RVs and other vehicles wishing to park on-site within the camping areas of PDF *must be pre-registered* by contacting parking@playadelfuego.org, or through the theme camp application for those associated with theme camps.  Only vehicles containing beds are eligible for on-site parking, and a limited number of slots are available on a first come first served basis.  Unregistered camping vehicles will be sent home!</li>
</ul>
<p style="font-size: 150%">
Print name (Last, First): _____________________________________________________
<br/>Signed: _________________________________________________ Date: __________
</p>
</div>
