<div>Florida law prohibits resale of this admission to a charity event for more than face value.</div>
<div>
	Tax Deductible Charitable Contribution

	For federal income tax purposes, you can deduct as a charitable contribution the price of each invitation less its fair market value. We estimate the fair market value of each invitation to be $15.00.</div>
	<div>&nbsp;</div>
	<div style="margin: auto; width: 640px; padding: 10px 10px 10px 10px; font-size: 70%; border: thin dotted black;">
<p>Updated 12.1.2009
<br/>Registering Still/Video/Cell Phone Camera_____</p>
<h2>Event Waiver &amp; Membership Agreement</h2>
<p>I,  ______________________________________,  voluntarily  assume  all  risks  of  any  injury  or  damages,  including  serious  injury  or 
death,  that  may  occur  at  the event  or  on  the  premises  known  as  Maddox  Ranch  in  Lakeland,  FL.  I  do  hereby  release,  acquit,  and 
forever discharge and by these presents do, for myself and my heirs, remise, release, acquit, and forever discharge the organizers of 
the event,  Burnt  Oranges  Inc.,  Maddox  Ranch,  Lynne  Maddox,  and/or  Richard  Lemanski,  their  heirs,  personal  representatives,  and 
administrators of and from any and all past, present, and future claims, rights, suits, debts, sums of money, contracts, agreements, 
promises, damages, judgments, executions, causes of action, liabilities, costs or expenses, claims, and demands whatsoever, in law 
or in equity, which I have ever had, now have, or may have, for, or by reason of, or which directly arise from, or are related to, or are 
in  any  way  associated  with  my  presence  at    the event  or  upon  the  premises  known  as  Maddox  Ranch.  I  understand  that  Maddox 
Ranch also operates a cattle and horse ranch, and recognize the inherent dangers of being involved in activities there. 
<p>Furthermore, as a participant at the event: 
<ol>
<li>I agree that I alone am responsible for my actions and well being and that I will not hold Maddox Ranch, Burnt Oranges Inc., or 
      the event  responsible  for  any  damages,  loss,  or  troubles,  including  serious  injury  or  death  that  may  occur  as  a  result  of  my 
      attendance of this event. 
<li>I understand that possession, sale, and/or consumption of illegal drugs is a violation of federal law.   Though this event is held 
      on private land, all participants are still subject to federal, state, and local laws. Initial            
<li>I am fully prepared for primitive camping for the duration of the event.  I understand that once entering the event space and 
      parking my car that my car is to remain at that location for the duration of the event and furthermore, if I choose to leave the 
      event, that re-admittance is not allowed and I will not be permitted to return to the property during the event. 
<li>I  understand  that  art  cars,  art  installations,  theme  camps,  and  performances  are  not  owned  or  operated  by  Maddox  Ranch, 
      Burnt  Oranges  Inc.,  or  the event  and  I  assume  any  and  all  risk  of  injury  associated  with  or  arising  from  their  operation  or 
      occurrence.  
<li>I appoint BOI as my representative to take actions necessary to protect my intellectual property or privacy rights recognizing 
      that BOI has no obligation to take any action whatsoever. I acknowledge that the BOI organizers control all rights regarding the 
      licensing and reproduction of any imagery recorded at BOI. Use of images taken at BOI (other than personal use) is prohibited 
      without the prior written consent of BOI. I also understand that, if I desire to make any use other than for personal use of the 
      footage, film or video, I can do so only if I obtain written permission from BOI, 8187 Sully Dr., Orlando, FL 32818 
<li>I will contribute volunteer time to assist with event cleanup in addition to my own camp before departure.  
<li>I  agree  that  all  vehicles  including  trucks,  trailers,  and  RVs  entering  and  exiting  the event  can  be  subject  to  search by  the  gate 
      staff.  Tickets  are  nonrefundable  even  if  the  event  is  terminated  early  or  canceled  due  to  harsh  weather,  acts  of  nature, 
      governmental  regulation,  or  other  conditions  beyond  the  control  of  BOI.  This  agreement  is  a  revocable  license  that  may  be 
      revoked by BOI for any reason.  
<li>I  am  applying  for  membership  in  the  the event  Artist  Collective  and  I  herby  agree  that I  am  doing  so  without  any  intention  of 
      using this or future events as a venue for advertising or marketing products for sale by myself or any outside marketing firm. 
<li>I  agree  to  take  care  of  any  minors  I  bring  for  the  duration  of  my  time  at  the event.    I  further  agree  to  be  held  personally 
      responsible for their actions while at the event. 
<li>I  am  /  I  am  not  (circle  one)  employed  by  any  city,  state,  or  federal  law  enforcement  agency  or  acting  as  an  independent 
      contractor on their behalf.  Initial              
<li>"Embedded" media will not be tolerated.  Public press wishing to cover the event must get prior approval from both Black 
      Rock City LLC and Burnt Oranges Inc., as well as all necessary releases.  Initial   
<li>I agree that I am completely sober and am not under the influence of any substances as I sign this document.  My signature 
      below indicates my full agreement with this document. 
</ol>
 
<table border="1" width="100%">
<tr><td colspan="6" width="50%">Signature:<br/>&nbsp;</td><td colspan="1" width="20%">Date: <br/>___/___/20___</td><td colspan="5" width="30%">Print Name:<br/>&nbsp;</td></tr>
<tr><td colspan="8">Street address:</td><td colspan="4">Zipcode:</td></tr>
<tr><td colspan="12">Email (PLEASE PRINT CLEARLY):</td></tr>
<tr><td colspan="6">Emergency contact:</td><td colspan="3">Relationship:</td><td colspan="3">Phone:</td></tr>
<tr><td colspan="12">Names of minors at this event I am responsible for:</td></tr>
<tr><td colspan="4" width="30%">&nbsp;</td><td width="10%">Age:</td><td width="10%">BOY / GIRL</td><td colspan="3" width="30%">&nbsp;</td><td width="10%">Age:</td><td width="10%">BOY / GIRL</td></tr>
<tr><td colspan="4" width="30%">&nbsp;</td><td width="10%">Age:</td><td width="10%">BOY / GIRL</td><td colspan="3" width="30%">&nbsp;</td><td width="10%">Age:</td><td width="10%">BOY / GIRL</td></tr>
<tr><td colspan="12">&nbsp;</td></tr>
<tr><td colspan="6">Witness:</td><td colspan="6">Print name:</td></tr>
</table>
<fieldset>
<legend>Event Use Only</legend>
<table border="1" width="100%">
<tr><td width="60%">Vehicle description:</td><td width="20%">Tag:</td><td width="20%">State:</td></tr>
</table>
</fieldset>

	</div>
