{% extends "base.html" %}
{% load texas_extras %}
{% block head %}
{% endblock %}
{% block title %}Purchases{% endblock %}
{% block banner %}Your Purchases{% endblock %}
{% block lead %}Current and past purchases{% endblock %}
{% block purchases %}{% endblock %}
{% block alerts %}
<div class="list-group">
	{% for purchase in tentative_purchases %}
  <div class="list-group-item">
    <h4 class="list-group-item-heading">{{ purchase.occurrence }}</h4>
    <p class="list-group-item-text">
      <strong>Tickets:</strong> <span class="badge">{{ purchase.ticket_set.count }}</span>
      <br/><strong>Total Price:</strong> ${{ purchase.get_price }}
      {% if purchase.occurrence.event.paypal_currency %}
      ({{ purchase.occurrence.event.paypal_currency }})
      {% endif %}
      <br/>Status: <span class="label label-{{ purchase.get_status_display }}">{{ purchase.get_status_display }}</span>
      <br/>Expires: {{ purchase.expiration_date|timeuntil }}
      {% ifnotequal purchase.get_price 0 %}
      <div class="panel panel-success">
        <div class="panel-heading">Payment options</div>
        <div class="panel-body">
          <p>To purchase your tickets, check out via PayPal and complete the waiver. Once you click "PROCESS" at the bottom of the waiver page, you'll be all set.</p>
          <a href="/buy/purchases/pay/{{ purchase.id }}/"><img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" align="left" border="0"></a>
        </div>
      </div>
      {% endifnotequal %}
    </p>
	</div>
	{% endfor %}
	{% for purchase in paid_purchases %}
  <a href="/buy/purchases/print/{{ purchase.id }}/" class="list-group-item">
    <h4 class="list-group-item-heading">
      {{ purchase.occurrence }}
      <span class="pull-right label label-{{ purchase.get_status_tag }}">{{ purchase.get_status_display }}</span>
    </h4>
    <p class="list-group-item-text">
      <span class="badge">{{ purchase.ticket_set.count }} ticket{{ purchase.ticket_set.count|pluralize }}</span>
      <span class="pull-right label label-info">{{ purchase.purchase_date }}</span>
    </p>
  </a>
	{% endfor %}
	{% for purchase in expired_purchases %}
  <div class="list-group-item disabled">
    <h4 class="list-group-item-heading">
      {{ purchase.occurrence }}
      <span class="pull-right label label-{{ purchase.get_status_tag }}">Expired</span>
    </h4>
    <p class="list-group-item-text">
      <span class="label label-default">{{ purchase.ticket_set.count }} ticket{{ purchase.ticket_set.count|pluralize }}</span>
      <span class="pull-right label label-default">{{ purchase.purchase_date }}</span>
    </p>
  </div>
	{% endfor %}
	{% for purchase in held_purchases %}
  <div class="list-group-item disabled">
    <h4 class="list-group-item-heading">
      {{ purchase.occurrence }}
      <span class="pull-right label label-{{ purchase.get_status_tag }}">{{ purchase.get_status_display }}</span>
    </h4>
    <p class="list-group-item-text">
      <span class="label label-default">{{ purchase.ticket_set.count }} ticket{{ purchase.ticket_set.count|pluralize }}</span>
      <span class="pull-right label label-default">{{ purchase.purchase_date }}</span>
    </p>
  </div>
	{% endfor %}
	{% for purchase in old_purchases %}
  <div class="list-group-item disabled">
    <h4 class="list-group-item-heading">{{ purchase.occurrence }}</h4>
    <p class="list-group-item-text">
      <span class="label label-default">{{ purchase.ticket_set.count }} ticket{{ purchase.ticket_set.count|pluralize }}</span>
      <span class="pull-right label label-default">{{ purchase.purchase_date }}</span>
    </p>
  </div>
	{% endfor %}
</div>
{% endblock %}
