<html>
<body>
<h2>I AGREE TO THE FOLLOWING TERMS</h2>
<ul>
<li>I am solely responsible for my own survival and well being, including an adequate supply of food as well as my own shelter.</li>
<li>I understand the nature of the event and all its risks and hazards.  I attend solely at my own risk and no guarantees, expressed or implied, about my safety have been made.</li>
<li>Photographs of any participant cannot be used for commercial purposes without the express permission of subjects and Playa del Fuego, Inc.</li>
<li>Tickets may not be resold for more than purchase price.  Any ticket found to be sold above original purchase price will be considered void and not valid for entry.</li>
<li>I agree to waive any claim or action I may have against:
<ol>
<li>The owners of the land upon which the event is held, the Vietnam Veterans Motorcycle Club of Delaware</li>
<li>The Organizers of the event or Volunteers at the event</li>
<li>It's sponsoring corporation, Playa del Fuego, Inc</li>
<li>Burning Man, LLC</li>
<li>Any other participants for any action taken during the event</li>
<li>Ben Sarsgard or Black Rock Tickets</li>
</ol>
</li>
</ul>
</body>
</html>
