{% extends "base.html" %}
{% load texas_extras %}
{% block head %}
{% endblock %}
{% block title %}My Tickets{% endblock %}
{% block banner %}My Tickets{% endblock %}
{% block lead %}Print or transfer tickets for upcoming events{% endblock %}
{% block script %}
<script type="text/javascript">
function transfer(ticket_id) {
}
$(document).ready(function() {
  $(".btn-transfer").click(function(evt) {
    $("#ticket_id").val($(this).attr("id"));
    $("#transfer_dialog").dialog('open');
  });
  $("#transfer_dialog").dialog({
    autoOpen: false,
    width: 640,
    buttons: {
      'Transfer': function() {
        $("#transfer_form").submit();
        $(this).dialog('close');
      },
      Cancel: function() {
        $(this).dialog('close');
      }
    }
  });
});
</script>
{% endblock %}
{% block alerts %}
<div class="row">
  <div class="col-lg-12">
    <div class="list-group">
      {% for purchase in paid_purchases %}
      {% for ticket in purchase.ticket_set.all %}
      {% if ticket.assigned_user %}
      <div class="list-group-item">
        <h4 class="list-group-item-heading">
          {{ ticket.purchase.occurrence }}
          <span class="badge pull-right">{{ ticket.tier.code }}{{ ticket.number|stringformat:"05i" }}####</span>
        </h4>
        <p class="list-group-item-text">
          <label class="label label-info">Assigned to: {{ ticket.assigned_user }}</span>
        </p>
      </div>
      {% else %}
      <div class="list-group-item">
        <h4 class="list-group-item-heading">
          {{ ticket.purchase.occurrence }}
          <span class="badge pull-right">{{ ticket.tier.code }}{{ ticket.number|stringformat:"05i" }}{{ ticket.code }}</span>
        </h4>
        <p class="list-group-item-text">
          <a href="/tickets/print/{{ ticket.id }}/" target="_blank" class="btn btn-primary btn-sm">Print</a>
          <!--
          <button class="btn btn-primary btn-sm btn-transfer pull-right" id="{{ ticket.id }}">Transfer</button>
          -->
        </p>
      </div>
      {% endif %}
      {% endfor %}
      {% endfor %}
      {% for ticket in assigned_tickets %}
      <div class="list-group-item">
        <h4 class="list-group-item-heading">
          {{ ticket.purchase.occurrence }}
          <span class="badge pull-right">{{ ticket.tier.code }}{{ ticket.number|stringformat:"05i" }}{{ ticket.code }}</span>
        </h4>
        <p class="list-group-item-text">
          <a href="/tickets/print/{{ ticket.id }}/" target="_blank" class="btn btn-primary btn-sm">Print</a>
          <label class="label label-info pull-right">Purchaser: {{ ticket.purchase.user }}</span>
        </p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div id="transfer_dialog" title="Transfer Ticket">
        <form id="transfer_form" method="post">
	<input type="hidden" id="action" name="action" value="transfer" />
        <input type="hidden" id="ticket_id" name="ticket_id" value="" />
	<p><strong>WARNING</strong>: Transfers are <em>PERMANENT</em> and will invalidate any previously printed copy of this ticket.  Only the assigned user will have access to the new ticket number.
        <fieldset>
                <label for="nick_name">Transfer to Email Address</label><br/>
                <input type="text" name="email" id="email" class="text ui-widget-content ui-corner-all" value="" />
        </fieldset>
        </form>
</div>
{% endblock %}
